/* ===========================
Index Of css


01. Header CSS
02. Hero CSS
03. Portfolio CSS
04. Footer CSS
========================== */

/*======================================
    Normalize CSS
========================================*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html {
  scroll-behavior: smooth;
  background-color: #151515;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #a3a3a3;
  overflow-x: hidden;
  font-size: 15px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-toggler:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  outline: none !important;
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #06F73B;
  border-color: #06F73B;
}

select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #081828;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(white, #3b3b3b);
  cursor: default;
  margin: 0em;
  font: 400 14px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(#767676, #858585);
  -o-border-image: initial;
  border-image: initial;
}

span,
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "DM Sans", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #E6E6E6;
  font-family: "DM Sans", sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}


.section {
  padding-top: 110px;
  padding-bottom: 110px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* Section Title */
.section-title {
  text-align: left;
  margin-bottom: 0px;
  padding: 0 0px;
  position: relative;
  z-index: 5;
}

.section-title h3 {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0px;
  color: #06F73B;
  text-transform: capitalize;
}

.section-title h2 {
  font-size: 24px;
  margin-bottom: 0px;
  line-height: 42px;
  text-transform: capitalize;
  position: relative;
  color: #fff;
  font-weight: 700;
}

.section-title p {
  font-size: 16px;
  line-height: 28px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title {
    padding: 0px 0px;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title {
    padding: 0px 0px;
    margin-bottom: 0px;
  }

  .section-title h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  .section-title h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0px;
  }

  .section-title p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .section-title {
    padding: 0px 10px;
    margin-bottom: 0px;
  }

  .section-title h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
  }

  .section-title h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
  }

  .section-title p {
    font-size: 15px;
  }
}

.section-title.align-right {
  padding: 0;
  padding-left: 600px;
}

.section-title.align-right h2:before {
  display: none;
}

.section-title.align-right h2:after {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 2px;
  width: 50px;
  background: #06F73B;
  content: "";
}

.section-title.align-left {
  padding: 0;
  padding-right: 600px;
}

.section-title.align-left h2:before {
  left: 0;
  margin-left: 0;
}

/* Overlay */
.overlay {
  position: relative;
  z-index: 1;
}

.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #081828;
  content: "";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: -1;
}

/* Pagination CSS */
.pagination {
  text-align: left;
  margin: 60px 0 0 0;
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pagination {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .pagination {
    margin-top: 40px;
  }
}

.pagination.center {
  text-align: left;
}

.pagination.right {
  text-align: right;
}

.pagination.left {
  text-align: left;
}

.pagination .pagination-list {
  display: inline-block;
  overflow: hidden;
}

.pagination .pagination-list li {
  margin-right: 5px;
  display: inline-block;
  margin-top: 10px;
}

.pagination .pagination-list li:last-child {
  margin-right: 0px;
}

.pagination .pagination-list li a {
  background: #fff;
  color: #081828;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  padding: 8px 20px;
  text-align: left;
  border: 1px solid #eee;
}

.pagination .pagination-list li.active a,
.pagination .pagination-list li:hover a {
  background: #06F73B;
  color: #fff;
  border-color: transparent;
}

.pagination .pagination-list li a i {
  font-size: 13px;
}

















/* ===== Buttons Css ===== */
.blog-style-four .blog-content .rounded-buttons .primary-btn-outline {
  border-color: var(--primary);
  color: var(--primary);
}
.blog-style-four .blog-content .rounded-buttons .active.primary-btn-outline, .blog-style-four .blog-content .rounded-buttons .primary-btn-outline:hover, .blog-style-four .blog-content .rounded-buttons .primary-btn-outline:focus {
  background: #151515;
  color: var(--white);
}
.blog-style-four .blog-content .rounded-buttons .deactive.primary-btn-outline {
  color: var(--dark-3);
  border-color: var(--gray-4);
  pointer-events: none;
}

/*===== BLOG STYLE FOUR =====*/
.blog-style-four {
  margin-top: 50px;
  padding: 30px;
  background-color: #1F1F1F;
  box-shadow: 0px 4px 20px rgba(49, 49, 49, 0.1);
  border-radius: 8px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-style-four {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .blog-style-four {
    padding: 15px;
  }
}
.blog-style-four .blog-image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.blog-style-four .blog-image::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: linear-gradient(transparent, var(--dark-1));
}
.blog-style-four .blog-image img {
  width: 100%;
}
.blog-style-four .blog-image .meta-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.blog-style-four .blog-image .meta-info span {
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
  margin-top: 8px;
  margin-right: 8px;
  display: inline-block;
}
.blog-style-four .blog-content {
  padding-top: 25px;
}
.blog-style-four .blog-content .blog-title {
  margin-bottom: 12px;
}
.blog-style-four .blog-content .blog-title a {
  font-weight: 600;
  line-height: 30px;
  color: var(--black);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.blog-style-four .blog-content .blog-title a:hover {
  color: var(--primary);
}
.blog-style-four .blog-content .text {
  color: var(--dark-3);
  margin-top: 16px;
}
.blog-style-four .blog-content .rounded-buttons {
  margin-top: 30px;
}

/*# sourceMappingURL=blog-04.css.map */
























.blog-grids.pagination {
  margin-top: 50px;
  text-align: center;
}

.button .btn {
  display: inline-block;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  padding: 14px 30px;
  background-color: #06F73B;
  color: #fff;
  border: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  margin-right: 7px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button .btn {
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .button .btn {
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

.button .btn i {
  display: inline-block;
  margin-right: 5px;
}

.button .btn:last-child {
  margin: 0;
}

.button .btn:hover {
  color: #fff;
  background-color: #081828;
}

.button {
  margin-left: 0 !important;
}

.button .btn-alt {
  background-color: #081828 !important;
  color: #fff !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button .btn-alt {
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .button .btn-alt {
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

.button .btn-alt:hover {
  background-color: #06F73B !important;
  color: #fff !important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}





/*======================================
	00. portfolio 
========================================*/


.portfolio-section{
  background-color: #151515;
  padding-top: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-section {
    padding-top: 35px;
    
  }
}

@media (max-width: 767px) {
  .portfolio-section{
    padding-top: 8px;
    
  }
}

.portfolio-section .portfolio-btn-wrapper {
  margin-bottom: 50px;
}

@media (max-width: 416px) {
  .portfolio-section .portfolio-btn-wrapper{
    margin-bottom: 24px;
    
  }
}

/* 

.hero-area .hero-content h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #06F182;
  opacity: 1;
  background-color: #214b36;
  background-clip: text;
  border-radius: 64px;
  text-align: center;
  max-width: 150px;
} */



.portfolio-section .portfolio-btn-wrapper button {
  padding: 4px 24px;
  line-height: 36px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background: #4e4e4e;
  color: #a3a3a3;
  border-radius: 64px;
  margin-right: 16px;
  margin-bottom: 16px;
  transition: all 0.3s ease-out 0s;
}

.portfolio-section .portfolio-btn-wrapper button.active {
  /* background-image: linear-gradient(to right, #214b36 0%, #06F182 100%); */
  background: #214b36;
  
  color: #06F182;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-section .portfolio-btn-wrapper button {
    margin-right: 10px;
    padding: 4px 18px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .portfolio-section .portfolio-btn-wrapper button {
    margin-right: 10px;
    padding: 4px 18px;
    font-size: 16px;
  }
}

.portfolio-section .portfolio-btn-wrapper button:last-child {
  margin-right: 0;
}

.portfolio-item-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.portfolio-item-wrapper:hover .portfolio-overlay {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.portfolio-item-wrapper .portfolio-img img {
  width: 100%;
}

.portfolio-item-wrapper .portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  background: linear-gradient(rgba(63, 63, 63, 0.89) 0%, rgba(66, 66, 66, 0.89) 100%);
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
  transform: scale(1);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-item-wrapper .portfolio-overlay {
    padding: 30px 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-item-wrapper .portfolio-overlay {
    padding: 30px 20px;
  }
}

.portfolio-item-wrapper .portfolio-overlay .overlay-content h3 {
  color: #fff;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.portfolio-item-wrapper .portfolio-overlay .overlay-content p {
  color: #fff;
  margin-bottom: 35px;
}

.portfolio-item-wrapper .portfolio-overlay .overlay-content .border-btn {
  border-radius: 64px;
  padding: 8px 28px;
  color: #fff;
  border: 2px solid #fff;
}

.portfolio-item-wrapper .portfolio-overlay .overlay-content .border-btn:hover {
  color: #313131;
  background: #fff;
}

.single-portfolio .single-portfolio-img {
  border-radius: 10px;
  overflow: hidden;
}

.single-portfolio .single-portfolio-img img {
  width: 100%;
}

.project-info-box ul li {
  margin-bottom: 15px;
  display: flex;
  font-size: 14px;
}

.project-info-box ul li:last-child {
  margin-bottom: 0;
}

.project-info-box ul li .destination {
  width: 40%;
  color: #051441;
  text-transform: uppercase;
}

/*======================================
	00. Scroll bar
========================================*/

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #A3A3A3 #ffffff00;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {}

*::-webkit-scrollbar-thumb {
  background-color: #A3A3A3;
  border-radius: 20px;
}

/*======================================
	01. Start Header CSS
========================================*/
.header {
  width: 100%;
  background: transparent;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    padding: 18px 0 !important;
  }

  .header .mobile-menu-btn .toggler-icon {
    background-color: #fff;
  }

  .header .button {
    margin: 0 !important;
  }

  .header .navbar-collapse {
    position: absolute;
    top: 67px !important;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-height: 350px;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    border-radius: 8px;
  }

  .header .navbar .navbar-nav .nav-item a:hover {
    color: #06F73B !important;
  }

  .header .navbar .navbar-nav .nav-item a.active {
    color: #06F73B !important;
  }

  .header .navbar-nav .nav-item {
    margin: 0;
  }

  .header .navbar-nav .nav-item:hover a {
    color: #06F73B;
  }

  .header .navbar-nav .nav-item a {
    padding: 12px 16px !important;
  }

  .header .navbar-nav .nav-item a::before {
    display: none;
  }

  .header .navbar-nav .nav-item .sub-menu {
    position: static;
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 12px 12px;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
    color: #06F73B !important;
  }

  .header .navbar-nav .nav-item a {
    color: #051441;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
  }

  .header .navbar-nav .nav-item a::after {
    opacity: 1;
    visibility: visible;
  }

  .header .navbar-nav .nav-item .sub-menu li.active {
    background: #fff !important;
    color: #06F73B !important;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item {
    margin: 0 !important;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 10px 12px !important;
  }

  .header .navbar-nav .nav-item .sub-menu li:hover {
    background: #fff !important;
    color: #06F73B !important;
  }

  .header .navbar-nav .nav-item a {
    font-size: 14px;
  }

  .header .navbar-nav .nav-item a:hover {
    color: #06F73B;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 18px 0 !important;
  }

  .header .mobile-menu-btn .toggler-icon {
    background-color: #fff;
  }

  .header .navbar-collapse {
    position: absolute;
    top: 62px !important;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-height: 350px;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    border-radius: 8px;
  }

  .header .navbar .navbar-nav .nav-item a:hover {
    color: #06F73B !important;
  }

  .header .navbar .navbar-nav .nav-item a.active {
    color: #06F73B !important;
  }

  .header .navbar-nav .nav-item {
    margin: 0;
  }

  .header .navbar-nav .nav-item:hover a {
    color: #06F73B;
  }

  .header .navbar-nav .nav-item a {
    padding: 12px 16px !important;
  }

  .header .navbar-nav .nav-item a::before {
    display: none;
  }

  .header .navbar-nav .nav-item .sub-menu {
    position: static;
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 12px 12px;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a:hover {
    color: #06F73B !important;
  }

  .header .navbar-nav .nav-item a {
    color: #051441;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
  }

  .header .navbar-nav .nav-item a::after {
    opacity: 1;
    visibility: visible;
  }

  .header .navbar-nav .nav-item .sub-menu li.active {
    background: #fff !important;
    color: #06F73B !important;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item {
    margin: 0 !important;
  }

  .header .navbar-nav .nav-item .sub-menu .nav-item a {
    padding: 10px 12px !important;
  }

  .header .navbar-nav .nav-item .sub-menu li:hover {
    background: #fff !important;
    color: #06F73B !important;
  }

  .header .navbar-nav .nav-item a {
    font-size: 14px;
  }

  .header .navbar-nav .nav-item a:hover {
    color: #06F73B;
  }
}

.header .navbar-brand img {
  width: 130px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .navbar-brand img {
    width: 125px;
  }
}

@media (max-width: 767px) {
  .header .navbar-brand img {
    width: 120px;
  }
}

.header.sticky {
  background-color: #151515;
}

.header.sticky .button .btn {
  background-color: #06F73B;
  color: #fff;
}

.header.sticky .button .btn:hover {
  background-color: #081828;
  color: #fff;
}

.sticky {
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 0;
  background-color: #fff;
}

.navbar-expand-lg .navbar-nav {
  margin: 0;
  margin-left: auto !important;
  margin-right: auto !important;
}

.header .navbar .navbar-nav .nav-item a.active {
  color: #fff;
}

.sticky .navbar .navbar-nav .nav-item a.active {
  color: #06F73B;
}

.sticky .navbar .navbar-nav .nav-item a {
  color: #081828;
}

.header .navbar .navbar-nav .nav-item .sub-menu a.active {
  color: #fff;
}

.sticky .navbar .navbar-nav .nav-item .sub-menu a.active {
  color: #fff;
}

.sticky .navbar .mobile-menu-btn .toggler-icon {
  background: #fff;
}

.header-ten {
  position: relative;
  background: url('../images/hero/bg1.svg');
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  min-height: 100%;
  padding: 160px 0 100px 0;
}

@media (max-width: 991px) {
  .header-ten {
    background: url('../images/hero/bg3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-ten {
    background: url('../images/hero/bg2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
}

.header .button {
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .header .button {
    display: none;
  }
}

.header .button .btn {
  background-color: #fff;
  color: #081828;
  font-weight: 500;
}

.header .button .btn:hover {
  color: #fff;
  background-color: #06F73B;
}

.sticky .button .btn {
  background-color: #06F73B;
  color: #fff;
}

.sticky .button .btn:hover {
  background-color: #06F73B;
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .header .button .signin {
    color: #081828;
  }

  .header .button .signin:hover {
    color: #06F73B;
  }

  .header .button .signup {
    background-color: #06F73B;
    color: #fff;
  }

  .header .button .signup:hover {
    background-color: #06F73B;
    color: #fff;
  }
}

/*======================================
    02. Hero Area CSS
========================================*/
.hero-area {
  padding: 0px 0 0px 0;
  position: relative;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #151515;
  z-index: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area {
    padding: 72px 0 0px 0;
  }
}

@media (max-width: 767px) {
  .hero-area {
    padding: 40px 0 0px 0;
  }
}

.hero-area .hero-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
  padding: 80px 0 0px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content {
    padding: 0px 0px;
  }
}

.hero-area .hero-content h4 {
  color: #06F73B;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
}

.hero-area .hero-content h2 {
  padding: 8px 24px;
  border-radius: 64px;
  background: #214b36;
  color: #06F182;
  font-size: 18px;
  max-width: 172px;
  




  /* font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #06F182;
  opacity: 1;
  background-color: #214b36;
  background-clip: text;
  border-radius: 64px;
  text-align: center;
  max-width: 150px; */
}

.hero-area .hero-content h1 {
  font-weight: 700;
  margin-top: 20px;
  font-size: 38px;
  line-height: 55px;
  color: #E6E6E6;
  text-transform: capitalize;
}

.hero-area .hero-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 0px;
  color: #A3A3A3;
}

.hero-area .hero-content .button {
  margin-top: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content .button {
    margin-top: 30px !important;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content .button {
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content .button .btn {
    width: 100%;
  }
}

.hero-area .hero-content .button .btn:hover {
  color: #081828;
  background-color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-content h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content {
    text-align: left;
  }

  .hero-area .hero-content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
  }

  .hero-area .hero-content p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content {
    padding: 0 10px;
    text-align: left;
  }

  .hero-area .hero-content h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .hero-area .hero-content p {
    margin-top: 0px;
    font-size: 15px;
    line-height: 26px;
  }

  .hero-area .hero-content .button .btn {
    width: 60%;
    margin: 0;
    margin-bottom: 7px;
  }

  .hero-area .hero-content .button .btn:last-child {
    margin: 0;
  }
}

.hero-image {
  display: flex;
  justify-content: left;
}

blockquote {
  position: relative;
  color: #fff;
  font-weight: 400;
  clear: both;
  z-index: 1;
  margin: 40px 0;
  text-align: center;
  padding: 40px;
  background-color: #081828;
  border-radius: 0;
  overflow: hidden;
  border-radius: 8px;
}

blockquote::before {
  position: absolute;
  content: "";
  right: -30px;
  top: -30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 4px solid #06F73B;
}

blockquote::after {
  position: absolute;
  content: "";
  left: -30px;
  bottom: -30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 4px solid #06F73B;
}

@media (max-width: 767px) {
  blockquote {
    padding: 20px;
  }
}

blockquote .icon i {
  font-size: 32px;
  color: #fff;
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  blockquote .icon i {
    margin-bottom: 15px;
  }
}

blockquote h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

@media (max-width: 767px) {
  blockquote h4 {
    font-size: 14px;
  }
}

blockquote span {
  font-size: 13px;
  display: block;
  margin-top: 20px;
  color: #fff;
}

/*======================================
   03. Portfolio CSS
========================================*/
.portfolio {
  background-color: #151515;
  padding: 8px 0px;
}

.portfolio .section-title {
  text-align: center;
  max-width: 550px;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  z-index: 5;
}

.portfolio .section-title h6 {
  margin-bottom: 8px;
  color: var(--primary);
  text-transform: uppercase;
}

.portfolio .section-title h2 {
  margin-bottom: 25px;
  position: relative;
  font-weight: 700;
}

.portfolio .section-title p {
  color: var(--dark-3);
}

.portfolio .hide {
  display: none;
}

.portfolio .show {
  display: block;
}

.portfolio .portfolio-menu {
  margin-bottom: 0;
  text-align: center;
}

.portfolio .portfolio-menu button {
  padding: 7px 20px;
  font-weight: 500;
  border: none;
  color: var(--black);
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: transparent;
  border: 1px solid #eee;
}

.portfolio .portfolio-menu button:hover {
  background-color: var(--primary);
  border-color: transparent;
  color: var(--white);
}

.portfolio .portfolio-menu button.active {
  background: var(--primary);
  color: var(--white);
  border-color: transparent;
}

.portfolio .portfolio-menu button:last-child {
  margin-right: 0;
}

.portfolio .grid {
  margin-top: 32px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .portfolio .grid {
    margin-top: 0px;
  }
}

.portfolio-style-six {
  margin: 16px 16px 16px 16px;
  position: relative;
  border-radius: 0;
  overflow: hidden;
}

.portfolio-style-six:hover .portfolio-img img {
  transform: scale(1);
}

.portfolio-style-six:hover .portfolio-img::before {
  opacity: 0.9;
  visibility: visible;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.portfolio-style-six:hover .portfolio-content {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out;
}

.portfolio-style-six:hover .portfolio-content .category {
  transform: none;
  transition: all 0.3s ease;
}

.portfolio-style-six:hover .portfolio-content h4 a {
  transform: none;
  transition: all 0.3s ease;
}

.portfolio-style-six .portfolio-img {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.portfolio-style-six .portfolio-img::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-color: #151515;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.portfolio-style-six .portfolio-img img {
  width: 100%;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transform: scale(1);
}

.portfolio-style-six .portfolio-content {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  padding: 30px;
  z-index: 9;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-style-six .portfolio-content {
    padding: 30px 20px;
  }
}

.portfolio-style-six .portfolio-content h4 a {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  transform: translateY(-50px);
}

.portfolio-style-six .portfolio-content h4 a:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-style-six .portfolio-content h4 a {
    font-size: 18px;
  }
}

.portfolio-style-six .more-icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #06F182;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #000000;
}

.portfolio-style-six .more-icon:hover {
  background-color: #214B36;
  color: #fff;
  border-color: transparent;
}

.portfolio-style-six .category {
  font-size: 15px;
  padding: 4px 15px;
  background-color: #DCE3E8;
  border-radius: 30px;
  color: #425866;
  font-weight: 500;
  transform: translateY(-30px);
  display: inline-block;
  margin-bottom: 12px;
}

/*======================================
	04. Footer CSS
========================================*/
.footer {
  background-color: #151515;
  position: relative;
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .single-footer {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer .single-footer {
    margin-top: 40px;
    text-align: center;
  }
}

.footer .single-footer.f-about {
  padding-right: 30px;
}

@media (max-width: 767px) {
  .footer .single-footer.f-about {
    padding: 0;
  }
}

.footer .single-footer.f-about .logo {
  margin-bottom: 20px;
}

.footer .single-footer.f-about .logo img {
  width: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .single-footer.f-about .logo img {
    width: 60px;
  }
}

@media (max-width: 767px) {
  .footer .single-footer.f-about .logo img {
    width: 60px;
  }
}

.footer .single-footer.f-about p {
  color: #fff;
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 25px;
}

.footer .single-footer.f-about .social-title {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}

.footer .single-footer.f-about .social li {
  display: inline-block;
  margin-right: 15px;
}

.footer .single-footer.f-about .social li:last-child {
  margin: 0;
}

.footer .single-footer.f-about .social li a {
  color: #fff;
}

.footer .single-footer.f-about .social li a:hover {
  color: #06F73B;
}

.footer .single-footer.f-about .copyright-text {
  color: #a3a3a3;
  font-size: 15px;
  margin-top: 40px;
}

.footer .single-footer.f-about .copyright-text span {
  display: block;
}

@media (max-width: 767px) {
  .footer .single-footer.f-about .copyright-text {
    margin-top: 20px;
  }
}

.footer .single-footer.f-about .copyright-text a {
  color: #a3a3a3;
  text-decoration: underline;
}

.footer .single-footer.f-link li {
  display: block;
  margin-bottom: 15px;
}

.footer .single-footer.f-link li:last-child {
  margin: 0;
}

.footer .single-footer.f-link li a {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

.footer .single-footer.f-link li a:hover {
  color: #06F73B;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px),
only screen and (min-width: 1400px) {
  .footer .single-footer.newsletter {
    padding-left: 80px;
  }
}

.footer .single-footer.newsletter p {
  color: #fff;
}

.footer .single-footer h3 {
  font-size: 17px;
  font-weight: 600;
  display: block;
  margin-bottom: 35px;
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .single-footer h3 {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .footer .single-footer h3 {
    margin-bottom: 25px;
  }
}

.footer .newsletter-form {
  margin-top: 30px;
  position: relative;
}

.footer .newsletter-form input {
  height: 52px;
  width: 100%;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  padding-left: 18px;
  padding-right: 70px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #ffffff1f;
  color: #fff;
}

.footer .newsletter-form input:hover {
  border-color: #06F73B;
}

.footer .newsletter-form input:focus {
  border-color: #06F73B;
}

.footer .newsletter-form .button {
  position: absolute;
  right: 0px;
  top: 0;
}

.footer .newsletter-form .button .sub-btn {
  height: 52px;
  width: 52px;
  border-radius: 0 6px 6px 0;
  background-color: #ffffff29;
  color: #fff;
  text-align: center;
  line-height: 52px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .newsletter-form .button .sub-btn:hover {
  color: #fff;
  background-color: #06F73B;
}

.footer .copyright-area .inner-content {
  border-top: 1px solid rgba(238, 238, 238, 0.288);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .footer .copyright-area .inner-content {
    margin-top: 50px;
    text-align: center;
  }
}

.footer .copyright-area .copyright-owner {
  text-align: right;
}

@media (max-width: 767px) {
  .footer .copyright-area .copyright-owner {
    text-align: center;
    margin-top: 3px;
  }
}

.footer .copyright-area p {
  color: #a3a3a3;
  font-size: 15px;
}

.footer .copyright-area p a {
  text-decoration: underline;
  color: #fff;
}

.footer .copyright-area p a:hover {
  color: #06F73B;
}

@media (max-width: 767px) {
  .footer-social-links {
    margin-bottom: 15px;
  }
}

.footer-social-links ul {
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .footer-social-links ul {
    justify-content: center;
  }
}

.footer-social-links ul li {
  display: inline-block;
}

.footer-social-links ul li a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  background: rgba(106, 124, 146, 0.1);
  display: block;
  font-size: 18px;
  color: #a5a2a2;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .footer-social-links ul li a {
    padding: 0 7px;
    margin-right: 10px;
  }
}

.footer-social-links ul li a:hover {
  background: linear-gradient(#214B36 0%, #214B36 100%);
  color: #06F182;
}

/*======================================
	Error 404 CSS
========================================*/
.error-area {
  height: 100vh;
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #081828;
  position: relative;
  overflow: hidden;
}

.error-area .error-content {
  display: inline-block;
  padding: 70px 60px;
  background-color: #fff;
  border-radius: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .error-area .error-content {
    padding: 60px 50px;
  }
}

@media (max-width: 767px) {
  .error-area .error-content {
    padding: 50px 40px;
  }
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table {
  display: table !important;
}

.d-table-cell {
  vertical-align: middle;
}

.d-table-cell {
  display: table-cell !important;
}

.error-area .error-content h1 {
  font-size: 90px;
  color: #06F73B;
  margin-bottom: 25px;
  font-weight: 800;
  line-height: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .error-area .error-content h1 {
    font-size: 60px;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .error-area .error-content h1 {
    font-size: 45px;
    line-height: 30px;
  }
}

.error-area .error-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #081828;
  font-weight: 700;
  line-height: 35px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .error-area .error-content h2 {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .error-area .error-content h2 {
    font-size: 18px;
  }
}

.error-area .error-content p {
  font-weight: 400;
  margin-bottom: 40px;
  color: #888;
}